body {
  margin: 0;
  padding: 0 40px;
  font: 21px/1.524 "Avenir Next", "Avenir", sans-serif;
  overflow-x: hidden;
}

code {
  font-size: 90.476%;
  line-height: 1.685;
  font-family: "Fira Code", "Courier", monospace;
  color: #c36;
}

a {
  text-decoration: none;
  color: #080;
}

a:focus {
  background: #080;
  color: #fff;
  outline: none;
}

a:hover {
  background: #080;
  color: #fff;
}

a code {
  color: inherit;
}

#css-header {
  margin: 0 -9999px 0 -40px;
  border-width: 1px 0;
  border-style: solid;
  border-color: #c36;
  background: rgb(250, 230, 245);
  padding: 0 40px;
  font-size: 85.714%;
  line-height: 1.4;
  color: #c36;
}

#css-header ::-moz-selection {
  background: #c36;
  color: #fff;
}

#css-header ::selection {
  background: #c36;
  color: #fff;
}

#css-header a {
  border-bottom: 1px dotted #c36;
  color: #c36;
}

#css-header a:visited {
  border-bottom-color: #a25;
  color: #a25;
}

#css-header a:focus {
  background: #c36;
  color: #fff;
}

#css-header a:hover {
  border-bottom-style: solid;
  background: #c36;
  color: #fff;
}

#css-main {
  padding: 0 0 4em;
}

#css-main p,
#css-main ol,
#css-main ul {
  max-width: 756px;
}

#tagline {
  margin: 0 0 1.524em;
  color: #666;
}

#toc {
  list-style: none;
  padding-left: 0;
}

#toc ul {
  list-style: none;
  padding-left: 1em;
}

#toc li:before {
  position: absolute;
  display: block;
  margin-left: -1em;
  width: 1em;
  content: "\2013";
}

#toc details summary {
  outline: none;
}

#toc details summary:focus {
  margin-right: 0.001px;  /* XXX: Trigger redraw in WebKit */
}

#toc details summary::-webkit-details-marker {
  color: #999;
}

#toc details summary:focus::-webkit-details-marker {
  color: #080;
}

pre {
  margin: 1.334em 0;
  padding: 0;
  line-height: 1.334;
}

pre code {
  line-height: 1.474;
}

.examples {
  margin: 0 -9999px 0 -40px;
  border-width: 1px 0;
  border-style: solid;
  border-color: #ada;
  background: #efe;
  padding: 0 40px;
  font-size: 76.191%;
  line-height: 1.5;
  font-family: "Fira Code", "Courier", monospace;
  font-variant-ligatures: none;
  color: #666;
}

.examples:hover {
  border-color: #080;
  cursor: text;
}

.examples ::-moz-selection {
  background: #080;
  color: #fff;
}

.examples ::selection {
  background: #080;
  color: #fff;
}

.examples form {
  margin: 1.5em 0;
}

.examples form:before {
  content: "> ";
}

.examples input {
  display: inline;
  margin: 0;
  width: 8888px;
  border: none;
  background: none;
  padding: 0;
  font: inherit;
  font-weight: 500;
  color: #080;
  outline: none;
}

.examples .output {
  white-space: pre;
  color: #666;
}

.examples .output[data-error="true"] {
  color: #c36;
}

code.lang-javascript {
  color: #333;
}

code.lang-javascript .boolean-literal {
  color: #963;
}

code.lang-javascript .comment,
code.lang-javascript .punctuation {
  color: #999;
}

code.lang-javascript .keyword {
  color: #c36;
}

code.lang-javascript .number-literal {
  color: #069;
}

code.lang-javascript .string-literal,
code.lang-javascript .template-literal {
  color: #080;
}

h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  margin: 0;
  padding: 1em 0 0;
}

h1 {
  font-size: 2.286em;
  line-height: 1.5;
  font-weight: normal;
}

h2, .h2 {
  font-size: 1.524em;
  line-height: 1.5;
}

h3, .h3 {
  font-size: 1.143em;
  line-height: 1.5;
}

h4, .h4 {
  font-size: 1em;
  line-height: 1.524;
}

h1 small {
  font-size: 66.667%;
  font-weight: normal;
}

h4 code {
  font-weight: 500;
  color: #333;
}

h4 code a:first-child {
  font-weight: 700;
}

p {
  margin: 1em 0;
}

b,
strong {
  font-weight: 500;
}

.pilcrow {
  position: absolute;
  display: block;
  margin: 0 0 0 -40px;
  width: 40px;
  text-align: center;
  color: #eee;
}
